/*--------------------------------------Text Styling */

body {
    font-family: "Ubuntu", sans-serif;
}


.fab,
.far,
.fa-dice {
    color: #ffffff;
}


.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.banner-style {
    margin-top: 50px;
    text-align: center;
    min-height: 30px;
    letter-spacing: 1.5px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}


/*--------------------------------------Header */

nav {
    width: 100%;
    min-height: 100px;
}


.heading-icon {
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}


.nav-link {
    font-size: 20px;
}

/*--------------------------------------Main Image */

.bg-image {
    width: 100%;
}


.main-img {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 30px;
}


/* I used https://www.w3schools.com/howto/howto_css_image_text.asp for the CSS for putting text over an image (when the image isnt a background) */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 768px) {
    #welcome {
        display: none;
    }
}


/*--------------------------------------Home Page */

.main-head1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.main-head2 {
    text-align: center;
    margin-bottom: 50px;
}

.alert {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
    font-size: 20px;
    min-height: 30px;
    margin-bottom: 50px;
}

.main-events {
    margin-bottom: 50px;
}


body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.intro {
    text-align: center;
}




/*--------------------------------------About */

.alcohol,
.coffee {
    width: 100%;
}


li {
    list-style: none;
}

.day-list {
    text-align: right;
}

@media (max-width: 676px) {
    .alcohol,
    .coffee {
        display: none;
    }
    .opening-hours {
        width: 100%;
        margin-left: 40px;
    }
    .map {
        width: 75%;
        height: 75%;
    }
}

@media (min-width: 677px) and (max-width: 991px) {
    .map {
        margin-left: 40px;
    }
}

@media (min-width: 992px) {
    .opening-hours {
        font-size: 150%;
        vertical-align: middle;
    }
}

.opening-hours {
    margin-bottom: 25px;
}

.locate-txt {
    font-family: "Ubuntu", sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}


.address {
    margin-bottom: 3px;
}

.prices {
    margin-bottom: 50px;
}

.bg-games {
    width: 100%;
    margin-top: 30px;
    border: black 2px solid;
}



/*--------------------------------------Contact */

.contact-form {}


.btn {
    margin-top: 50px;
    margin-bottom: 10px;
}


.contact-second {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.contact-text {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    font-weight: bold;
}

.contact-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

@media (min-width: 677px) {
    .contact-form {
        display: inline-block;
        border: 1px solid black;
        margin-top: 25px;
        margin-bottom: 150px;
        padding: 30px;
        text-align: left;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
}

.contact-main {
    width: 100%;
}

.contact-page {
    text-align: center;
}




/*--------------------------------------Footer */

.footer {
    min-height: 100px;
}

.social-icons {
    padding-bottom: 20px;
    word-spacing: 25px;
}

.social-icons li a i {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    background: #9DA1A6;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.social-icons li a i:hover {
    background: #217ADE;
}

#footer-details {
    padding: 30px;
}

.col {
    padding-right: 0;
}
