/*--------------------------------------Text Styling */

.uppercase {
    text-transform: uppercase;
}

.centered {
    font-family: "Ubuntu", sans-serif;
}

.main-head {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

.intro {
    text-align: center;
}

/*--------------------------------------Navigation */

nav {
    width: 100%;
}

/*--------------------------------------Main Image */

.bg-image {
    width: 100%;
}


.main-img {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-center {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .mobhide {
        display: none;
    }
}


/*--------------------------------------Home Page */

.alert {
    text-align: center;
    padding: 2px 0;
    2px 0;
    height: 30px;
}
