/*--------------------------------------Text Styling */

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: "Ubuntu", sans-serif;
}


.main-head {
    text-align: center;
}

.intro {
    text-align: center;
}

.fab,
.far {
    color: #ffffff;
}

.locate-txt {
    font-family: "Ubuntu", sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}


.address {
    margin-bottom: 3px;
}

/*--------------------------------------Navigation */

nav {
    width: 100%;
}

/*--------------------------------------Main Image */

.bg-image {
    width: 100%;
}


.main-img {
    position: relative;
    text-align: center;
    color: white;
}

/* I used https://www.w3schools.com/howto/howto_css_image_text.asp for the CSS for putting text over an image (when the image isnt a background) */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/*--------------------------------------Home Page */

.main-head {
    padding-top: 10px;
}

.alert {
    text-align: center;
    padding: 2px 0;
    height: 30px;
    letter-spacing: 1.5px;
}

.main-events {
    padding-top: 15px;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*--------------------------------------About */

.alcohol,
.coffee {
    width: 100%;
}


li {
    list-style: none;
}

.day-list {
    text-align: right;
}

@media (max-width: 676px) {
    .alcohol,
    .coffee {
        display: none;
    }
    .opening-hours {
        width: 100%;
        margin 5px: ;
    }
}

@media (min-width: 992px) {
    .opening-hours {
        font-size: 150%;
        vertical-align: middle;
    }
}



/*--------------------------------------Contact */


.contact-form {
    padding-left: 50px;
    padding-right: 50px;
}


.btn {
    margin-top: 50px;
}

.space {
    height: 250px;
}

@media (max-width: 767px) {
    .space {
        height:20px;
    }
.table-img {
    max-height: 300px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}    
}

@media (min-width: 768px) {

    .bg-contact {
        background-image: url("../media/images/table.jpeg");
        background-position: fixed;
        background-repeat: no-repeat;
        min-height: 100%;
    }
    .contact-main {
    padding-top: 200px;
}
    .table-img {
        display: none;
    }
}

/*--------------------------------------Footer */

.social-icons {
    word-spacing: 25px;
}

.icon {

    color: #ffffff;
    transition: font-size 0.5s ease-in;
    transition-duration: 0.2s;
    font-size: 1.5em;
    margin-top: 5px;
}

.icon:hover {
    font-size: 1.75em;
}

.container-footer {
    width: 100%;
    text-align: center;
    padding-top: ;
}

.col {
    padding-right: 0;
}
